{## Start with defaults from defaults.yaml ##}
{% import_yaml 'pam/defaults.yaml' as default_settings %}

{## Set up our configuration parameter map by OS ##}
{% set flavor_map = salt['grains.filter_by']({
    'Ubuntu': {
        'ldap_pkg': 'libpam-ldapd',
        'nsd': 'nscd',
        'ldap_config': '/etc/ldap.conf',
        'mkhomedir_pkg': 'libpam-mkhomedir',
        'mkhomedir_config': '/usr/share/pam-configs/mkhomedir',
        'ccreds_pkg': 'libpam-ccreds',
        'pam_config': {},
    },
    'Debian': {
        'ldap_pkg': 'libpam-ldapd',
        'ldap_config': '/etc/ldap.conf',
        'mkhomedir_pkg': 'libpam-ccreds',
        'mkhomedir_config': '/usr/share/pam-configs/mkhomedir',
        'ccreds_pkg': 'libpam-ccreds',
        'pam_config': {},
    },
    'FreeBSD': {
        'ldap_pkg': 'pam_ldap',
        'ldap_config': '/usr/local/etc/ldap.conf',
        'nss_ldap_pkg': 'nss_ldap',
        'nss_ldap_config': '/usr/local/etc/nss_ldap.conf',
        'mkhomedir_pkg': 'pam_mkhomedir',
        'mkhomedir_config': False,
        'pam_config': {},
    },
}, merge=salt['pillar.get']('pam:lookup')) %}

{## Merge the flavor map over the default settings ##}
{% do default_settings.pam.update(flavor_map) %}

{## Merge in changes from pillar ##}
{% set pam = salt['pillar.get'](
  'pam',
  default=default_settings.pam,
  merge=True
) %}

